
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}


.animate-shimmer {
  animation: shimmer 2s infinite;
}


.animate-gradient {
  background-size: 200% 100%;
  animation: gradient 3s ease infinite;
}
